[Desktop Entry]
Type=Application
Name=Gravitone
GenericName=Game Soundtrack Player
Comment=Your own soundtrack for any game, with silence or weather between the songs
Exec=gravitone ui
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;soundtrack;ambient;game;
StartupNotify=true
Icon=gravitone
